*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9BA49E ;
    overflow-x: hidden;
}

h1{
  font-family: 'Open Sans';
  font-style: normal;
 font-weight: 700;
 font-size: 40px;
 line-height: 20px;
 color:#1f222a;
}

p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #1F222A;
}

label{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #1F222A;
}

.Last{
    margin-left: 70px;
}

.col-sm-8 svg{
    float:right;
    margin-top: -30px;
    margin-right: 5px;
}


.form-control, .form-select, .btn{
    background: rgba(217, 217, 217, 0.5);
    opacity: 0.87;
    border: 0.5px solid #B4B8C0;
    border-radius: 7px;
}


@media screen and (max-width: 768px) {
    .img-sect{
        display: none;
    }
}
    

    






    
